* {
  margin: 0px;
  border: 0px;
  padding: opx;
  font: roboto;
  font-family: sans-serif;
  box-sizing: border-box;
}
button {
  background-color: #3a83f6;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  border-radius: 10px;
}
header,
footer {
  background-color: #202938;
  color: white;
}
header,
.nav-list {
  display: flex;
  padding: 20px;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  display: flex;
  padding-left: 20px;
  font-size: 18px;
}
header {
  padding-left: 100px;
  padding-right: 100px;
}

main h2 {
  background-color: white;
  display: block;
  align-content: center;
  text-align: center;
  font-size: 50px;
  color: #202938;
  padding: 20px;
}
main li img {
  color: #202938;
  border: 2px solid #3a83f6;
  padding: 100px;
  margin: 10px;
  border-radius: 10px;
}
main li {
  color: #202938;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
}
.content-list {
  background-color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  align-items: center;
  text-align: center;
}
.qoute,
.author {
  background-color: #e6e6ea;
  display: block;
}
.qoute {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 150px;
  font-size: 25px;
  font-style: italic;
  text-align: left;
  color: #2d3643;
}
.author {
  font-size: 20px;
  text-align: right;
  padding-right: 100px;
  padding-bottom: 150px;
  font-weight: bold;
  color: #2d3643;
}
.cta {
  display: flex;
  padding: 50px 100px 50px 100px;
  margin: 100px;
  background-color: #3a83f6;
  color: white;
  border-radius: 10px;
  justify-content: space-between;
  font-size: 20px;
}
.cta button {
  display: block;
  border: 2px solid white;
}
footer {
  padding: 30px;
  text-align: center;
}
